/*
*   CSS file for generic styles such as paddings, margins, height, width, and backgrounds
*/

/* paddings */
.padding-8 {
    padding: 8px;
}

.padding-16 {
    padding: 16px;
}

.padding-24 {
    padding: 24px;
}


/* margins */
.margin-auto {
    margin: auto;
}

.margin-20 {
    margin: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mx-5 {
    margin: 0 5px;
}

.mx-10 {
    margin: 0 10px;
}

.mx-20 {
    margin: 0 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

/* widths */
.width-50 {
    width: 50px;
}

.width-100 {
    width: 100px;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}

.width-250 {
    width: 250px
}

.width-300 {
    width: 300px;
}

.width-350 {
    width: 350px;
}

.width-400 {
    width: 400px;
}


/* heights */
.height-p-100 {
    height: 100%;
}

.height-100-vh {
    height: 100vh;
}

/* borders */
.border-danger {
    border: 1px solid#ff3860!important;
}

.border-success {
    border: 1px solid#23d160!important;
}

.border-grey {
    border: 1px solid grey;
}

/* set full background color to black */
html{
    background-image: linear-gradient(to top,#283048,#859398);
}

/* linear gradients */

.lg-navy {
    background-image: linear-gradient(to right, #1a475c, black);
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}

.lg-silver-blue {
    background-image: linear-gradient(to right, lightblue, silver);
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}

.item-list:hover {
    background-color:rgba(0, 0, 0, 0.1);
}


/* border radius */

.br-6 {
    border-radius: 6px;
}

/* styles for containers */

main {
    margin: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* word break */

.word-break {
    word-wrap: break-word;
}